@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.MinProject {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 992px) {
  .MinProject {
    height: 100%;
    padding: 40px 0;
  }
}
